body{
    display: flex;
    flex-direction: column;
    background-color: #ebbcba;
    color: #26233a;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 98vw;
}

main{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.styled{
    margin: 10px 2px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #EEEEEE;
    border-radius: 10px;
}

.new{
    background-color: #31748f;
}

.dark{
    background-color: #26233a;
}

.save{
    background-color: #31748f;
}

.cancel{
    background-color: #eb6f92;
}

.top-buttons{
    display: flex;
    justify-content: space-between;
}

.bot-buttons{
    display: flex;
    justify-content: flex-end;
}

.sidebar{
    background-color: #9ccfd8;
}

textarea {
    background-color: #9ccfd8;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: x-large;
}

.images{
    display: flex;
    justify-content: center;
}

nav{
    text-align: right;
}

@media screen and (min-width:600px){
    body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-gap: 1em;
    }
    
    .sidebar{
        grid-column: 1/2;
        grid-row: 1/4;
    }
    
    main{
        grid-column: 2/3;
    }

    footer{
        grid-column: 2/3;
    }

    .images{
        grid-column: 2/3;
    }
}